<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>03.01-Blog-com.enesbyc.ServletConfig</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>ServletConfigClass</servlet-name>
    <servlet-class>servletconfig.ServletConfigClass</servlet-class>
    <init-param>
      <param-name>dbUsername</param-name>
      <param-value>Enesbyc</param-value>
    </init-param>
    <init-param>
      <param-name>dbPassword</param-name>
      <param-value>123456</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletConfigClass</servlet-name>
    <url-pattern>/ServletConfigClass</url-pattern>
  </servlet-mapping>
</web-app>